.main {
  width: 100vw;
  height: 100vh;

  display: grid;
  margin: 0;

  grid-template-rows:20% 50% 30%;
  grid-template-columns:90% 10%;

  grid-template-areas:
    "header     volume"
    "radio-list volume"
    "player     volume";
}

.header {
  grid-area: header;
}

.header h1 {
  margin: 0.5em 0.2em;
  font-size: 3em;
  font-stretch: ultra-expanded;
}

.radio-list {
  grid-area: radio-list;

  margin-left: 0.4em;
}

.radios {
  webkit-overflow-scrolling: touch;
  height:30vh;
  overflow: auto;
  white-space: nowrap;
}

.radio-list h2 {
  font-family: Ubuntu;
  font-weight: lighter;

  margin-left: 0.2em;
}

.radio {
  width: 18vh;
  height: 18vh;

  border: 2px solid #b0b0b0;
  background: #ececec;

  margin: 1vh;
  display: inline-block;

  cursor: pointer;
}

.radio .image {
  height: 14vh;
}

.radio .image img {
  height: 13vh;
}

.radio .title {
  color: #393939;
  text-align: center;
  font-size: 1em;
}

.player {
  grid-area: player;

  display: grid;
  grid-template-columns:20% 80%;
  grid-template-areas:
    "button title";
  background: rgba(255, 255, 255, 0.1);
}

.player .button {
  grid-area: button;
  cursor: pointer;

  margin: 1em;
  height: 5em;
  width: 5em;

  z-index: 99;
}

.player object {
  grid-area: button;

  margin: 1em;
  height: 5em;
  width: 5em;

  cursor: pointer;
}

.player .title {
  grid-area: title;

  margin-top: 1.1em;
  font-size: 2em;
  font-stretch: ultra-expanded;
}

.volume {
  display: grid;
  grid-area: volume;

  background: rgba(255, 255, 255, 0.2);

  grid-template-rows: 15% 70% 15%;
  grid-template-areas:
    "volume-up"
    "slider"
    "volume-down";
}

.up {
  grid-area: volume-up;

  text-align: center;
  font-size: 4em;

  cursor: pointer;
}

.volume .slider {
  height: 100%;
  width: 100%;
  grid-area: slider;
}

.volume .slider input[type="range"] {

  -webkit-appearance: slider-vertical; /* WebKit */
}

.volume .down {
  grid-area: volume-down;

  text-align: center;
  font-size: 4em;

  cursor: pointer;
}

