.main {
  width: 100vw;
  height: 100vh;

  display: grid;
  margin: 0;

  grid-template-rows:20% 50% 30%;
  grid-template-columns:90% 10%;

  grid-template-areas:
    "header     volume"
    "radio-list volume"
    "player     volume";
}

.header {
  grid-area: header;
  background: rgba(255, 255, 255, 0.1);
}

.header h1 {
  margin: 0.5em 1em;
  font-size: 3em;
  font-stretch: ultra-expanded;
}

.radio-list {
  grid-area: radio-list;
}

.player {
  grid-area: player;

  background: rgba(255, 255, 255, 0.1);
}

.volume {
  display: grid;
  grid-area: volume;

  background: rgba(255, 255, 255, 0.2);

  grid-template-rows: 15% 70% 15%;
  /*grid-template-columns:20% 60% 20%;*/
  grid-template-areas:
    "volume-up"
    "slider"
    "volume-down";
}

.up {
  grid-area: volume-up;

  text-align: center;
  font-size: 4em;

  cursor: pointer;
  background: rgba(255, 255, 255, 0.2);
}

.volume .slider {
  height: 100%;
  grid-area: slider;

  overflow: hidden;
}

.volume .slider input[type="range"] {

  position: relative;
  top: 13em;
  right: 9.1em;
  -webkit-transform: rotate(90deg);

  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 25em; /* Full-width */
  height: 2em; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

.volume .down {
  grid-area: volume-down;

  text-align: center;
  font-size: 4em;

  cursor: pointer;
  background: rgba(255, 255, 255, 0.2);
}

.radio {
  width: 18vh;
  height: 18vh;

  border: 2px solid #b0b0b0;
  background: #ececec;

  margin: 1vh;
  float: left;
  overflow: scroll;

  cursor: pointer;
}

.radio .image {
  height: 14vh;
}

.radio .title {
  color: #393939;
  text-align: center;
  font-size: 3em;
}

h2 {
  font-family: Ubuntu;
  font-weight: lighter;
}
